.item{
    width: 60%;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
    background: whitesmoke;
    margin-top: 30px;
}
.item > .image{
    flex: 1;
    background:lightseagreen
    
}
.item > .image > img{
    width: 60%;
    margin-top: 30px;
}
.item > .content{
    flex: 3;
    margin-bottom: 20px;
}
.item > .content > .description{
    margin-top: 25px;
    margin-right: 200px
}
.item > .content > .description > .user{
    position: relative;
    width: 100%;
    margin-left: 50px;
}
.item > .content > .description > .user >span{
    position: absolute;
    line-height: 36px;
    /* padding-right: 97px; */
    margin-left: -71px;
}
.item > .content > .description > .user > img{
    width: 10%;
    border-radius: 100%;
}